*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMUNI */
.height_100{
    height: 100px;
}

.height_300{
    height: 300px;
}

.img_border_radius{
    border-radius: 20px;
}


/* HEADER */
.header_content{
    height: 60px;
}

header{
    background-color: #2c3e50;
}

/* MAIN */
.main_content{
    background-color: blue;
}

.img-content{
    width: 300px;
}

.title{
    font-size: 35px;
    font-weight: 600;
}

section:nth-child(odd){
    background-color: #1abc9c;
}

.hr-lines{
    position: relative;
    max-width: 500px;
    margin: 30px 0;
    text-align: center;
  }
  
  .hr-lines:before{
    content:" ";
    height: 4px;
    width: 70px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 40px;
    border-radius: 100px;
  }
  
  .hr-lines:after{
    content:" ";
    height: 4px;
    width: 70px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    right: 40px;
    border-radius: 100px;
  }

   .main-hr{
    margin: 0px 0;
  }

  .main-hr:after{
    width: 150px;
    background-color: #212529;
  }

  .main-hr:before{
    width: 150px;
    background-color: #212529;
  }

/* FOOTER */
.footer_bg{
    background-color: #3a546d;
}

.footer_bg:nth-child(2){
    background-color: #2c3e50;
}